.header {
  border: solid;
  width: 100%;
  height: 48px;
}

.categories {
  position: absolute;
  border: solid;
  top: 51px;
  width: 30%;
}

.products {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 30.5%;
  width: 70%;
}

.product {
  display: flex;
  border-style: solid;
  height: 258.7px;
  Width: 179.6px;
  border-width: 2px;
  left: 345px;
  top: 190px;
  margin: 5px;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#descriptionCategory {
  text-align: center;
}
